.custom-textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  resize: none !important;
}

.custom-textarea:focus {
  border: 2px solid #dcdcdc;
  outline: none;
}